<footer id="footer" class="container-fluid col-lg-12" style="background-color: white">
    <div class="footer-content justify-content-between text-center flex-wrap">
        <div class="copy-right-text">Copyright &copy; 2018 | All rights reserved to Julius Simas Simutis. </div>
    </div>
</footer>